<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.f10r3nz4.bookish" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Ricerca.GialliActivity"
            android:label="       Libri Gialli" />
        <activity
            android:name=".Ricerca.HorrorActivity"
            android:label="       Libri Horror" />
        <activity
            android:name=".Ricerca.NarrativaActivity"
            android:label="       Libri di Narrativa" />
        <activity
            android:name=".Ricerca.FantasyActivity"
            android:label="       Libri Fantasy" />
        <activity
            android:name=".Ricerca.PerRagazziActivity"
            android:label="       Libri per Ragazzi" />
        <activity
            android:name=".Ricerca.ClassiciActivity"
            android:label="       Libri Classici" />
        <activity
            android:name=".Ricerca.RicercaTitoloActivity"
            android:label="." />
        <activity
            android:name=".Ricerca.RicercaAutoreActivity"
            android:label="." />
        <activity
            android:name=".ui.NuovoLibroActivity"
            android:label="Aggiungi un nuovo libro"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.MainActivity"
            android:label="Sfoglia" />
        <activity
            android:name=".ui.LibriActivity"
            android:label="I Miei Libri" />
        <activity
            android:name=".ui.LettureActivity"
            android:label="Le Mie Letture" />
        <activity
            android:name=".ui.RegistrazioneActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>